<div class="contents row">
   <div class="container">

  <%= form_tag('/tweets', method: :post) do %>
    <h3>
      記事を投稿する
    </h3>
    <input placeholder="タイトル" type="text" name="image" autofocus="true">
    <textarea placeholder="本文" name="text" cols="30" rows="10"></textarea>
    <input type="submit" value="SENT">
  <% end %>
  </div>
</div>